.vs/
*.vcxproj.user
common/
Debug/
Release/
build.bat
build.txt
doc/
exe/
stt/submodules.list
stt/submodules.mak
sdk/
web1/
arm/
arm-debug/
arm64/
arm64-debug/
x86_64/
x86_64-debug/
xml.h